.masthead-brand{
    filter: none;
    background-color: rgba(0,0,0,0.7);
}

h1{
	left: 50%;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.kroati.de/images/objekte/173/17346_1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#about{
    color:white;
    background-color: #394944;
     position: absolute;
   
}
#gallery{
    color:white;
    background-color: #394944;
     
   
}

.centered {
	font-family: "Impact",fantasy;
color:red;
	font-size: 90px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered1 {
	font-family: "Impact",fantasy;
color:black;
	font-size: 17px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{

    float: left;

}
.mySlides {display:none;}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #red;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}